WeijuhuiTest/.classpath
WeijuhuiProj/.classpath
*.prefs
WeijuhuiProj/project.properties
*.classpath
WeijuhuiTest/project.properties
WeijuhuiProj/.settings/org.eclipse.jdt.core.prefs
WeijuhuiProj/.classpath
WeijuhuiProj/project.properties