<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pineapple.mobilecraft"
    android:versionCode="1"
    android:versionName="1.0" >

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.pineapple.mobilecraft" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:name="DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_uidemo"
        android:label="@string/app_name" >
        <activity
            android:name="com.pineapple.mobilecraft.app.social.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            androidcom.pineapple.mobilecraft.app.social.CreateActivityActivityctivity"
            android:theme="@style/horizontal_slide" >
        </activity>
        <activity
            android:name="com.pineapple.mobilecraft.app.social.EntryActivity"
            android:theme="@style/horizontal_slide" >
        </activity>
        <activity
            androidcom.pineapple.mobilecraft.app.social.RegisterActivityctivity"
            android:theme="@style/horizontal_slide" >
        </activity>
        <activity
     com.pineapple.mobilecraft.app.social.AlertDialogcraft.app.AlertDialog"
            android:theme="@style/horizontal_slide" >
        </activity>
        <activity
     com.pineapple.mobilecraft.app.social.LoginActivityaft.app.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service android:name="com.pineapple.mobilecraft.service.ContactChangeService" />
        <service android:name="com.pineapple.mobilecraft.service.MessageService" />
        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="weijuhui#weijuhui" />
        <!-- 声明sdk所需的service -->
        <service android:name="com.easemob.chat.EMChatService" />

        <activity
     com.pineapple.mobilecraft.app.social.ActivityDetailActivityctivityDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/horizontal_slide" >
        </activity>
        <activitycom.pineapple.mobilecraft.app.social.AddContactActivitycraft.app.AddContactActivity"
            android:theme="@style/horizontal_slide" >
        </activity>
    com.pineapple.mobilecraft.app.social.NewFriendsMsgActivityft.app.NewFriendsMsgActivity" >
        </activity>

        <uses-library android:name="android.test.runner" />

        <activitycom.pineapple.mobilecraft.app.social.ActivityMembersActivity.app.ActivityMembersActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/horizontal_slide"com.pineapple.mobilecraft.app.social.CreateActivityActivity2   android:name="com.pineapple.mobilecraft.app.CreateActivityActivity2"
            android:theme="@style/horizontal_slide" >
        </activity>
        <acom.pineapple.mobilecraft.app.social.CustomActivityActivityilecraft.app.CustomActivityActivity"
            android:theme="@style/horizontal_slide" >
        </activity>
        <activity
     com.pineapple.mobilecraft.app.social.DateActivityraft.app.DateActivity"
            android:theme="@style/horizontal_slide" >
        </activity>
   com.pineapple.mobilecraft.app.social.PhotoSelectActivityeapple.mobilecraft.app.PhotoSelectActivity"
            android:theme="@style/horizontal_slide" >
        </activity>
        <activity androidcom.pineapple.mobilecraft.app.social.ActivityPaymentPayment" >
        </activity>
        <activitycom.pineapple.mobilecraft.app.social.MessagesActivitylecraft.app.MessagesActivity"
            android:theme="@style/horizontal_slide" >
        </activity>
        <activity androidcom.pineapple.mobilecraft.app.social.ActivityListActivityctivity" >
        </activity>
        <activity
            android:name=".shop.app.GoodsListActivity"
            android:theme="@style/horizontal_slide" >
        </activity>
        <activity
            android:name=".shop.app.GoodsActivity"
            android:theme="@style/horizontal_slide" >
        </activity>
        <activity android:name=".shop.app.ChartActivity"
                  android:theme="@style/horizontal_slide">
        </activity>

        <activity android:name=".shop.app.OrderListActivity"
                  android:theme="@style/horizontal_slide">
        </activity>

        <activity android:name=".shop.app.OrderActivity"
                  android:theme="@style/horizontal_slide">
        </activity>

        <activity android:name=".shop.app.PayActivity"
                  android:theme="@style/horizontal_slide">
        </activity>
        <activity android:name=".shop.app.ShopMainActivity"
                  android:theme="@style/horizontal_slcom.pineapple.mobilecraft.app.social.EntryTest       <activity android:name="com.pineapple.mobilecraft.app.EntryTest" android:theme="@style/horizontal_slide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Test Activty"
        android:targetPackage="com.pineapple.mobilecraft" />

</manifest>